/* Safari 4.0 - 8.0 */
body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}
h1 {
  font-size: 4rem;
  line-height: 4.5rem;
}
@media (min-width: 991px) {
  h1 {
    font-size: 6rem;
    line-height: 5.5rem;
  }
}
h2 {
  font-size: 3.5rem;
}
.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}
.list-social-icons a {
  color: #495057;
}
.list-social-icons a:hover {
  color: #017efe;
}
.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}
.list-icons {
  font-size: 3rem;
}
.list-icons .list-inline-item i:hover {
  color: #017efe;
}
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
section.resume-section .resume-item .resume-date {
  min-width: none;
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
.bg-primary {
  background-color: #017efe !important;
}
.text-primary {
  color: #017efe !important;
}
a {
  color: #017efe;
}
a:hover,
a:focus,
a:active {
  color: #017efe;
}
.first {
  overflow: hidden;
  height: 47vh;
  position: relative;
  background: #0F2027;
  /* fallback for old browsers */

  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  /* Chrome 10-25, Safari 5.1-6 */

  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.first .background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
.first .svg-box {
  position: relative;
}
.first .svg-box svg {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100vh;
  -webkit-animation-name: oval;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: oval;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.first .svg-box svg circle {
  -webkit-filter: drop-shadow(0px 0px 10px #7ae2ff);
  filter: drop-shadow(0px 0px 10px #7ae2ff);
}
.first .svg-shadow {
  box-shadow: 0 -60px 30px -45px inset #203a43;
  height: 10vh;
  position: absolute;
  bottom: 0;
  z-index: 5;
  width: 100%;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes oval {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes oval {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#about .my-photo {
  position: absolute;
  z-index: 6;
  top: 46%;
  left: 35.33%;
}
@media (max-width: 374px) {
  #about .my-photo {
    left: 32.7%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #about .my-photo {
    left: 41.8%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #about .my-photo {
    left: 33.8%;
    top: 40%;
  }
}
@media (min-width: 992px) {
  #about .my-photo {
    left: 50.7%;
    top: 30%;
  }
}
#about .my-photo img {
  width: 110px;
  height: auto;
}
@media (min-width: 768px) {
  #about .my-photo img {
    width: 250px;
  }
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
